// overwrite the research.scss for <ol> and <ul>
#content {
    ol {
        counter-reset: list;
        list-style: decimal;
        padding-left: 2rem;
        & > li:before {
            content: none;
        }
    }
    .container > ol, .footnotes > ol {
        padding-left: 2rem;
    }
    ul {
        list-style: outside;
        padding-left: 1rem;
    }
    .container > ul, .footnotes > ul {
        padding-left: 1rem;
    }
}
