{{ define "main" }}
<!-- layouts/_default/talks.html -->
<div class="container">
  <div class="row">
    <h3>International Conferences</h3>
    <div class="col-12">
      <ul>
        {{ range sort .Site.Data.talks.conferences ".date" "desc" }}
        <li>
          {{ partial "talk.html" . }}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <h3>Symposiums</h3>
    <div class="col-12">
      <ul>
        {{ range sort .Site.Data.talks.symposiums ".date" "desc" }}
        <li>
          {{ partial "talk.html" . }}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <h3>Workshops</h3>
    <div class="col-12">
      <ul>
        {{ range sort .Site.Data.talks.workshops ".date" "desc" }}
        <li>
          {{ partial "talk.html" . }}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
