<div id="footer" class="mb-5">
  {{ with .Site.Params.footer }}
  <hr>
  <div class="container text-center">
    <span>
      <a href="{{ .url | absURL }}"><small>{{ .text }}</small></a>
    </span>

    &nbsp;
    <small><i class="bi bi-dot"></i></small>

    {{ if isset . "github" }}
    &nbsp;
    <a href="https://github.com/{{ .github }}"><small><i class="bi-github" role="img"></i></small></a>
    {{ end }}

    {{ if isset . "linkedin" }}
    &nbsp;
    <a href="https://linkedin.com/in/{{ .linkedin }}"><small><i class="bi-linkedin" role="img"></i></small></a>
    {{ end }}

    {{ if isset . "twitter" }}
    &nbsp;
    <a href="https://twitter.com/{{ .twitter }}"><small><i class="bi-twitter" role="img"></i></small></a>
    {{ end }}

    &nbsp;
    <small><i class="bi bi-dot"></i></small>

    {{ if isset . "github" }}
    &nbsp;
    <a href="https://scholar.google.com/citations?user={{ .googlescholar }}"><small><i class="ai ai-google-scholar" role="img"></i></small></a>
    {{ end }}

    {{ if isset . "dblp" }}
    &nbsp;
    <a href="{{ .dblp }}"><small><i class="ai ai-dblp" role="img"></i></small></a>
    {{ end }}
  </div>
  {{ end }}
</div>
